<template>
  <div class="home">
    Hello {{accountAddress}},
    Your balance: {{accountBalance | parseEthBalance}} ETH
    <div>
      Your Technixo Coin Balance: {{technixoCoinBalance}}
    </div>
    <div>
      <p>Buy some Technixo Coin</p>
      <div>
        <label>Amount in ETH</label>
        <input type="text" v-model="amountInEth" />
      </div>
      <button @click="buyCoin">Buy</button>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import {mapGetters} from "vuex";
import web3Utils from 'web3-utils'

export default {
  name: 'Home',
  components: {
    HelloWorld
  },
  data: () => ({
    amountInEth: 1,
    technixoCoinBalance: 0
  }),
  created() {

  },
  mounted() {
    setTimeout(() => {
      this.getTechnixoCoinBalance().then(balance => {
        this.technixoCoinBalance = balance/10**6
      })
    }, 1000)
  },
  computed: {
    ...mapGetters({
      accountAddress: 'accounts/activeAccount',
      accountBalance: 'accounts/activeBalance',
      contractInstance: 'contracts/contractInstances',
      drizzleInstance: 'drizzle/drizzleInstance',
    }),
    technixoContractInstance(){
      console.log('contracts',this.drizzleInstance.contracts.TechnixoCoin)
      return this.drizzleInstance.contracts.TechnixoCoin
    }
  },
  methods: {
    getTechnixoCoinBalance(){
      return this.technixoContractInstance.methods.balanceOf(this.accountAddress).call()
    },
    buyCoin(){
      const stackId = this.technixoContractInstance.methods.buyToken.cacheSend({
        from: this.accountAddress,
        value: web3Utils.toWei(this.amountInEth+'', 'ether')
      })
      console.log(stackId)
    }
  },
  filters: {
    parseEthBalance(val){
      return web3Utils.fromWei(val)
    }
  }
}
</script>
